<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= link_to 'Connect to GitHub', github_login_path, class: "btn btn-primary mb1 bg-teal" %>
  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
    <li> Status: <%= current_user.status %>
    <% if current_user.status == 'inactive' %>
      - This account has not yet been activated. Please check your email.
    <% end %>
    </li>
  </ul>

  <section id='bookmarks'>
    <h1>Bookmarked Segments</h1>
      <% current_user.sorted_bookmarks.each.with_index do |video, index| %>
        <section id="video-<%= index + 1 %>">
          <p>
            <%= link_to video.tutorial.title, tutorial_path(video.tutorial) %> -
            <%= link_to video.title, tutorial_path(video.tutorial_id, video_id: video.id) %>
          </p>
        </section>
      <% end %>
  </section>

  <% if current_user.github_token %>
    <section id='github'>

      <% if @search_facade.get_repos %>
        <section id="repos">
          <h1>Github Repositories</h1>
          <% @search_facade.get_repos.each do |repo| %>
            <p class='github_link'><%= link_to repo.name, repo.link %></p>
          <% end %>
        </section>
      <% end %>

      <% if @search_facade.get_followers %>
        <section id="followers">
          <h1>Github Followers</h1>
          <% @search_facade.get_followers.each do |follower| %>
            <p class='github_link' id="follower-<%= follower.handle %>">
              <%= link_to follower.handle, follower.link %>
              <%= link_to("Add as Friend", "/dashboard/add_friend?friend_github_id=#{follower.id}", method: :post, class: "btn btn-primary mb1 bg-teal") if current_user.friendable?(follower) %>
            </p>
          <% end %>
        </section>
      <% end %>

      <% if @search_facade.get_following %>
        <section id="following">
          <h1>Github Following</h1>
          <% @search_facade.get_following.each do |followed| %>
            <p class='github_link' id="following-<%= followed.handle %>">
              <%= link_to followed.handle, followed.link %>
              <%= link_to("Add as Friend", "/dashboard/add_friend?friend_github_id=#{followed.id}", method: :post, class: "btn btn-primary mb1 bg-teal") if current_user.friendable?(followed) %>
            </p>
          <% end %>
        </section>
      <% end %>

      <% if !current_user.friends.empty? %>
        <section id="friends">
          <h1>Friends</h1>
          <% current_user.friends.each do |friend| %>
            <p class='friend'>
              <%= "#{friend.first_name} #{friend.last_name}" %>
            </p>
          <% end %>
        </section>
      <% end %>
    </section>
  <% end %>

</section>
